  
.heading-1{
    padding: 10px 20px;
}

.heading-1 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(0, 47, 52);
}

.card-body{
  border-left: 5px solid rgb(235, 219, 2) !important;
}

.card{
  border: 1px solid #5c797d !important;
}

.card:hover{
  cursor: pointer;
}

  .card span img{
    height: 160px;
    object-fit: contain;
}

.card h5{
    color: rgb(0, 47, 52);
}

.card p{
    color: #5c797d;
}

.para-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
  .load-more-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .load-more-btn button{
    background-color: transparent;
    padding: 10px;
    border: 2px solid rgb(0, 65, 48);
    color: rgb(0, 65, 48);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }
  
  .phone-app{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .app-image{
    padding: 0px 10px;
  }
  
  .app-image img{
    width: 390px;
  }
  
  .app-text{
    width: 400px;
    padding: 10px;
  }
  
  .app-text h2{
    font-weight: 600;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    color: rgb(0, 47, 52);
  }
  
  .app-text p{
    font-size: 20px;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #5c797d;
  }

  .app-btn{
    border-left: 2px solid rgb(8, 8, 8);
    padding: 20px 0px 20px 10px;
  }
  
  .app-btn-heading h6{
    font-size: 14px;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 15px;
    color: rgb(0, 47, 52);
  }
  
  .app-btn-btns-1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
  }

  .app-btn-btns-1 img{
    margin: 5px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
  }